{% extends "blog/base_accounts.html" %}
{% load bootstrap %}
{% block title %} 
    Добавити пункт поста
{%endblock title %}

{% block account_content %}
    <div class='container text center sign-in'>
        {% if from.error %}
            <p>{{ from.error }}</p>
            <p>Щось забув</p>
            <form action= '.' class = 'from sign-in login-form' method='post' enctype='multipart/form-data'>
                {{ form.post_point_text|bootstrap}}
                {{ form.post_images|bootstrap}}
                {{ form.post_header|bootstrap}}
                {% csrf_token %}

                <button class='btn btn-lg btn-primary mt-2' types='submit'>Додати пункт</button>
            </form>
        {% elif form.is_valid %}
            <h1 class='h3 mb-3 font-weight-normal'>Пост відправленно модерації</h1>
            <h2 class='mb-3 font-weight-normal'>Ви зможете:</h2>
            <a href='{% url "blog:post_point_list" post.id %}' class= 'btn bth-dark'>Повернутися до списків пунктів</a>
            <a href='{% url "blog:post_point_add" post.id %}' class= 'btn bth-primary'>Добавити пункт поста</a>

        {% else %}
            <h1 class='h3 mb-3 font-weight-normal'>Будь ласка заповніть поля</h1>
            <form action= '.' class = 'from sign-in login-form' method='post' enctype='multipart/form-data'>
                {{ form.post_point_text|bootstrap}}
                {{ form.post_images|bootstrap}}
                {{ form.post_header|bootstrap}}
                {% csrf_token %}

                <button class='btn btn-lg btn-primary mt-2' types='submit'>Додати пункт</button>
            </form>

        {% endif %}
        
    </div>
{% endblock account_content %}
