{% extends "blog/base.html" %}
{% block title %}
    Особистий кабінет
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 left-navbar">
                {% block left_navbar %}
                    <h2 class="text-center mb-5">Функции ЛК</h2>
                    <ul>
                        <li>
                            <a href="{% url "blog:dashboard" %}">
                                Мої пости
                            </a>
                        </li>

                        <li>
                            <a href="{% url "blog:post_add" %}">
                                Добавити пост
                            </a>
                        </li>
                    </ul>
                {% endblock left_navbar %}
            </div>

            <div class="col-8 account content">
                {% block account_content %}
                
                {% endblock account_content %}
            </div>
        </div>
    
{% endblock content %}
